ul{
    border: 1px solid;
    display: inline-block;
    margin:1% 5%;
    padding:1em 1em;
}

#conference_creation{
    display:block;
    margin:5% 5%;
    width:15em;
}

#existing_conferences{
    margin-left:5%;
    font-weight: bold;
}

#existing_conference_name{
    border:none;
    display:block;
    margin-top:3%;
}

#back_conference_home{
    float:right;
    width:4em;
    margin-right: 30%;
    margin-top:5%;
}

        