table{
    text-align:left;
}

h3{
    margin:auto;
    width:18%;
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 1%;
}

th{
    padding-right: 4em;
    padding-bottom: 1em;
}
        
#back_conference_view{
    float:right;
    width: 4em;
    margin-top: 5%;
    margin-right: 30%;
}

