table{
    text-align:left;
    margin-left: 40%;
}

h3 {
    font-size: 1.5em;
    margin-left: 40%;
    text-align: center;
    text-decoration: underline;
    width: 13em;
    margin-top: 5%;
}

th{
    padding-right: 4em;
    padding-bottom: 1em;
}
        
#back_conference_view{
    float:right;
    width: 4em;
    margin-top: 5%;
    margin-right: 30%;
}

