h3{
    margin-left:5%;
}

form {
    margin-left:5%;
}

label{
    float:left;
    width:10em;
}

form div{
    margin-top:1%;
}

#submit, #cancel{
    float:right;
    margin-top:5%;
}

#submit{
    text-decoration:none;
    margin-right:3%;
    background:none;
    font-size:16px;
    border: 2px solid;
    padding: 0em 1em;
}

#submit:hover{
    cursor:pointer;
}

#cancel{
    margin-right:30%;
    padding:0 0.5em
}
