.datepick {
    background-color: white;
    color: #000;
}

.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
    height: 2.0em;
    width: 13.0em;
    margin-bottom: 3%;
    font-weight: bold;
}

#calImg {
    margin-left: 10%;
}