div {
    margin-top: 1%;
}

a{
    width: auto;
    padding: 2px 2px;
}

h3{
    margin-left: 5%;
}

#Logout{
    position: absolute;
    left:70%;
    top:10%;
    width:6em;
}

#Conferences, #Users{
   width: 8em;
   margin-top:5%;
   margin-left:5%;
   display:block;
}

#Users{
    margin-top: 1em;
}    
    


