#login_page{
    float:center;
    margin: 0% 20%;
}
    
#login_page img{
    float: left;
    width: 50%;
 
}
        
#login_page #login_form{
    float:right;
    margin-top: 5%;
    width:40%;
  
}

label:hover{
    cursor:pointer;
}

#login_form label{
    font-weight: bold;
}
              
#login_form #Submit{
    margin-top:2em;
    width:20%
}

#message_to_be_displayed {
    color:red;
    font-weight:bold;
    margin-bottom:2%;
    width:80%;
}
