body {
    font-family: Comic Sans MS;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input[type="text"], input[type="password"] {
    height: 30px;
}

.control-group .align-left{
    text-align: left;
    width: 100px;
}

.pageTitle {
    text-align: center;
    margin-bottom: 50px;
}

.sectionTitle{
    margin-bottom:50px;
    font-weight:bold;
    font-size:20px;
}

.conferenceViewSectionTitle{
    margin-bottom:50px;
    font-weight:bold;
    font-size:20px;
    text-align:center;
}

.conferenceList{
    border: 1px solid;
    display: inline-block;
    padding:15px;
    margin-bottom: 50px;
    font-size:20px;
}

.form-message {
    padding-left: 50px;
}

.error {
    color:red;
    font-weight:bold;
}

.authentication-message {
    text-align: center;
}

div.question{
    margin-top:5%;
    font-weight: bold;
    font-size: 16px;
}

.table th{
    width: 30%;
}


.table1 td {
    padding-right:7em;
    padding-top: 2em;
}


#loginForm {
    padding: 30px 0px;
}

.container {
    width: 960px;
}

#page_not_found {
    color: red;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.information {
    color:green;
    font-weight:bold;
}
